# Escribir la ruta de un directorio en la URL ya no muestra los archivos que contiene.
Options -Indexes

# Permite que home.php enrute las mediante URI's correctamente
Options +SymLinksIfOwnerMatch
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]