header {
    min-width: 100%;
    min-height: 50px;
    background-color: var(--box-bg);
}

div.inner-header {
    max-width: 900px;
    margin: 0 auto;
    line-height: 50px;

    position: relative;
}

p#header-logo {
    font-family: 'Redressed', cursive;
    font-family: 'Berkshire Swash';
    font-size: 26px;
    font-size: 24px;
    font-weight: bold;

    position: absolute;
    left: 0;
}

div.inner-header ul.header-links {
    display: flex;
    gap: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: var(--transition);
}

div.inner-header ul.header-links a li{
    transition: var(--transition);
    width: 100%;
    opacity: calc(var(--font_low-opacity) - 0.1);
}

div.inner-header ul.header-links:hover a li{
    opacity: calc(var(--font_low-opacity) - 0.1);
}

div.inner-header ul.header-links a li:hover {
    opacity: 1!important;
}

div.inner-header ul.header-links a li.current {
    opacity: 1;
}

div.inner-header ul.header-links:hover a li.current{
    opacity: calc(var(--font_low-opacity) - 0.1)!important;
}

div.inner-header ul.header-links a li.current:hover {
    opacity: 1!important;
}





div.inner-header div.header-user {
    position: absolute;
    right: 0;
}

div.inner-header div.header-user ul.header-user-ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

div.inner-header div.header-user ul.header-user-ul a {
    display: flex;
    align-items: center;
}
div.inner-header div.header-user ul.header-user-ul a span {
    margin-top: 2px;
    font-size : 20px;
    transition: var(--transition);
}

div.inner-header div.header-user ul.header-user-ul a li img {
    max-height: 25px;
    border-radius: var(--border-radius);
}