/* Estilos para {login|register}.php */

div.logreg-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

div.logreg-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    margin-top: 40px;
}

div.logreg-wrapper form h1 {
    font-size: 45px!important;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 900;
}

div.logreg-wrapper div.logreg-input {

    width: 350px;
}

div.logreg-wrapper form label {
    opacity: 1!important;
}

div.logreg-wrapper div.logreg-input input {
    width: 100%!important;
}

div.logreg-wrapper form div.logreg-input:focus-within {
    box-shadow: 0px 0px 6px rgba(0,0,0,.25);
}

div.logreg-wrapper a {
    transition: var(--transition);
    opacity: var(--font_low-opacity);
}

div.logreg-wrapper a:hover {
    opacity: 1;
}

div.logreg-wrapper p {
    font-size: var(--box-font-size);
}

.form-mistake {
    color: var(--red);
    margin-bottom: 4px;
}