/* Propósito: añadir un estilo general para todos los títulos de sección de, principalmente, la columna derecha de anime.php */
div.querypage_title {
    display: flex;
    justify-content: space-between;
}

div.querypage_title span.view-all {
    opacity: var(--font_low-opacity);
    transition: .2s;
    cursor: pointer;
}

div.querypage_title span.view-all:hover {
    opacity: 1;
}

.cover-header_phone {
    display: none;
}

/* Añadir un color de fondo a las secciones de personajes, staff y reviews. */
.querypage_bg {
    background-color: var(--box-bg);
}

/************* Estilos específicos *************/
/* Propósito: dividir el cuerpo en dos columnas de 23% y 77% de tamaño. */
div.querypage_left-column {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

div.querypage_right-column {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/***** Columna izquierda. *****/
input.list-submit {
    width: 100%!important; /* El width heredado por .submit-button__colorful es 180px. */
    margin-top: 0px; /* Elimina el margin-top de la clase .submit-button__colorful */
    font-family: Fredoka;
    font-weight: calc(var(--bold) - 100);
    font-size: 15px;
    padding: 7px 15px;
    transition: var(--transition);
}

input.list-submit:hover {
    filter: brightness(1.2);
}

.querypage_left-column_user-list form {
    display: grid;
    grid-gap: var(--gap);
}

section.querypage_edit {
    padding: 7px;
    transition: .2s;
    cursor: pointer;
    display: none;
}

section.querypage_edit p {
    opacity: var(--font_low-opacity);
    text-align: center;
    transition: .2s;
}

section.querypage_edit p span {
    font-size: var(--box-font-size);
}

section.querypage_edit:hover {
    background: var(--box-bg-hover);
}

section.querypage_edit:hover p {
    opacity: 1;
}

/* Score and Rank displaying. */
section.querypage_rank {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
}

section.querypage_rank * div.box-body {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/***** Columna derecha. *****/
/* Propósito: aplicado de estilos a la sección de personajes. */
section.querypage_char {
    font-size: var(--box-font-size);
}

div.querypage_char-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

div.querypage_char-entry {
    display: flex;
    overflow: hidden;
}

div.querypage_char-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_char-entry_pic {
    min-width: 40px;
    max-width: 40px;
}

div.querypage_char-entry_pic img {
    border-radius: 0;
}

div.querypage_char-entry_info {
    background: var(--box-bg);
    width: 100%;
    padding: 5px;
    font-size: calc(var(--box-font-size) - 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.querypage_char-entry_info-role {
    opacity: var(--font_low-opacity);
}

/* Propósito: aplicado de estilos a la sección de staff. Son los mismos que la sección de personajes. Aun así creo dos clases distintas en caso de que modifique el diseño de una de ellas en el futuro. */
section.querypage_staff {
    font-size: var(--box-font-size);
}

div.querypage_staff-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
}

div.querypage_staff-entry {
    display: flex;
    overflow: hidden;
}

div.querypage_staff-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_staff-entry_pic {
    min-width: 40px;
    max-width: 40px;
}

div.querypage_staff-entry_pic img {
    border-radius: 0;
}

div.querypage_staff-entry_info {
    background: var(--box-bg);
    width: 100%;
    padding: 5px;
    font-size: calc(var(--box-font-size) - 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.querypage_staff-entry_info-role {
    opacity: var(--font_low-opacity);
}

/* Propósito: aplicado de estilos a la sección de reviews. */
section.querypage_review {
    font-size: var(--box-font-size);
}

div.querypage_review-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

div.querypage_review-entry {
    overflow: hidden;
}

div.querypage_review-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_review-entry_content {
    display: flex;
}

div.querypage_review-entry_pic {
    min-width: 60px;
    max-width: 60px;
}

div.querypage_review-entry_pic img {
    border-radius: 0!important;
}

a.querypage_review-entry_title {
    width: 100%;
    padding: 10px;
    font-size: var(--box-font-size);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a.querypage_review-entry_title i {
    opacity: 1!important;
}

a.querypage_review-entry_title:hover {
    background: var(--box-bg-hover);
}


/* Estilos para el formulario de edición de entrada de lista.*/
div.querypage_list-edit_wrapper {
    width: 650px;
    border-radius: 10px;
    overflow: hidden;

    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0px 33px rgba(0,0,0,.50);
}

div.querypage_list-edit_form form div.edit-list_fields {
    display: grid;
    grid-gap: 15px;
    padding: 20px;
}

div.querypage_list-edit_form form div.edit-list_fields div.edit-list_fields-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    row-gap: 15px;
}

div.querypage_list-edit_form form div.edit-list_fields * div.input-wrapper {
    background-color: var(--box-bg);
    display: grid;
    grid-gap: 5px;
}

div.querypage_list-edit_form form div.edit-list_fields * div.input-wrapper label {
    font-size: calc(var(--box-font-size) - 1px);
    padding-left: 10px; /* To vertically align the label with the input text */
}

div.input-wrapper input[type='text'], div.input-wrapper input[type='number'], div.input-wrapper input[type=date], div.input-wrapper select, div.input-wrapper textarea {
    padding: 5px 10px;
    background-color: var(--box-title)!important;
    border-radius: var(--border-radius);
    width: 100%;
    transition: filter var(--transition);
}

div.input-wrapper input:focus-within, div.input-wrapper textarea:focus-within, div.input-wrapper select:hover {
    filter: brightness(1.15);
}

div.querypage_list-edit_form form div.edit-list_fields div.edit-list_fields-textarea textarea {
    padding: 10px 15px!important;
    min-height: 80px;
    max-height: 200px;
}

div.querypage_list-edit_form form div.edit-list_fields div.edit-list_fields-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

hr#edit-list_fields-separator {

    height: 1px;
    border: 0px!important;
    background-color: var(--box-title);
}


/***** Estilos para el home de cada medio. *****/

div.mediumhome {
    min-width: 100%;
}

section.mediumhome_all-medium div.mediumhome_all-medium_content {
    padding: 10px!important;
}

section.mediumhome_all-medium {
    background: var(--box-bg);
    overflow: hidden;
    border-radius: var(--border-radius);
}

div.mediumhome_all-medium_content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: var(--gap);
    flex-wrap: nowrap;

    box-sizing: border-box;
}

div.mediumhome_all-medium_content div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 160px;
    border-radius: var(--border-radius);

    position: relative;
}

div.mediumhome_all-medium_content div p {
    text-align: center;
    background-color: var(--box-bg);
    font-size: 13px;
    padding: 6px;
    width: 100%;

    position: absolute;
    bottom: 0;

    opacity: 0;
    transition: var(--transition);

    word-break: break-word;
}

div.mediumhome_all-medium_content div:hover p {
    opacity: .9;
}


/* Media queries */
@media (max-width: 905px) {
    /* Home */
    div.mediumhome_all-medium_content {
        display: flex!important;
        gap: var(--gap);
        overflow-x: scroll;
    }
    div.mediumhome_all-medium_content div {
        min-width: 105px!important;
        max-width: 105px!important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 160px;
        border-radius: var(--border-radius);

        position: relative;
    }

    /* Listing page */
    section.querypage_info ul.two-column-list {
        display: grid;
        grid-gap: calc(var(--gap) - 2px)!important;
    }

    section.querypage_info ul.two-column-list li {
        display: flex!important;
        flex-direction: column!important;
    }
}

@media (max-width: 750px) {
    div.querypage_left-column {
        width: 25%;
    }

    div.querypage_right-column {
        width: 75%;
    }
}

@media (max-width: 670px) {

    div.querypage_left-column {
        width: 27%;
    }

    div.querypage_right-column {
        width: 73%;
        margin-top: -8px; /* - var(--gap)*/
    }
}

@media (max-width: 600px) {
    div.querypage_right-column h1 {
        display: none;
    }
    section.querypage_info ul.two-column-list {
        display: block!important;
    }
    section.querypage_info ul.two-column-list li {
        display: flex!important;
        flex-direction: row!important;
    }
    .querypage_left-column .cover, .querypage_right-column .header {
        display: none;
    }
    div.querypage_left-column {
        width: 100%;
    }

    div.querypage_right-column {
        width: 100%;
    }

    div.cover-header_phone {
        display: grid!important;
        grid-gap: var(--gap);

        overflow: hidden;
    }

    div.cover-header_phone div.header-phone {
        min-height: 140px;
        max-height: 140px;
        background-size: cover!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
        border-radius: var(--border-radius);
        position: relative;
        overflow: hidden
    }

    div.cover-header_phone div.cover_info-phone {
        margin: 0 15px;
        display: flex;
        gap: var(--gap);
        z-index: 1;
        min-height: 50px;
        align-items: center;
    }
    div.cover-header_phone div.cover_info-phone img.cover-phone {
        box-shadow: 0 0 3px rgba(0,0,0,.25);
        margin-top: -110px!important;
        width: 100px;
        height: 150px;
    }
    div#gradient_header-phone {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, black, transparent);
        opacity: .4;
    }
}