/* Archivo pensado para las páginas de post individual (e.g. /activity/10) */

div.activity_single-page_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    min-height: 100vh;

    overflow: hidden;
}

div.activity_single-page_wrapper form {
    display: grid;
    grid-gap: 10px;
    background-color: var(--box-bg);
    padding: 10px;
}

div.activity_single-page_wrapper form div.top {
    display: flex;
}

div.activity_single-page_wrapper form div.top img {
    height: 40px;
}

div.activity_single-page_wrapper section.post-reply_wrapper {
    display: none;
}

div.activity_single-page_wrapper section.post-reply_wrapper form div.top textarea {
    min-height: 120px!important;
    padding: 10px 10px 10px 12px;
    border-radius: 0 0 0 var(--border-radius);
    width: 100%;
    font-size: calc(var(--box-font-size) + 1px);
}

div.activity_single-page_wrapper section.post-reply_wrapper form div.bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap);
}

/* Estilos para el icono de respuesta en /activity */
span#display-reply {
    font-size: 18px;
    font-weight: bold;
    opacity: var(--font_low-opacity);
    transition: var(--transition);
}

span#display-reply {
    cursor: pointer;
}

span#display-reply:hover {
    opacity: 1!important; /* Este !important permite que el :hover siga funcionando tras aplicar los estilos de JavaScript */
}

hr.activity_replied-reply_separator {
    margin: 0 auto;
    width: 95%;
    height: 3px;
    border-radius: var(--border-radius);
    border: 0px!important;
    background-color: var(--box-title);
}