/* Archivo pensado para las páginas de post individual (e.g. /activity/10) */

div.activity_single-page_wrapper {
    width: 100%;
    display: grid;
    grid-gap: var(--gap);
}

div.activity_single-page_wrapper form {
    display: grid;
    grid-gap: 10px;
    background-color: var(--box-bg);
    padding: 10px;
}

div.activity_single-page_wrapper form div.top {
    display: flex;
}

div.activity_single-page_wrapper form div.top img {
    height: 40px;
}

div.activity_single-page_wrapper section.post-reply_wrapper {
    display: none;
}

div.activity_single-page_wrapper section.post-reply_wrapper form div.top textarea {
    min-height: 120px!important;
    padding: 10px 10px 10px 12px;
    border-radius: 0 0 0 var(--border-radius);
    width: 100%;
    font-size: calc(var(--box-font-size) + 1px);
}

div.activity_single-page_wrapper section.post-reply_wrapper form div.bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: var(--gap);
}

