:root {
    --body-bg: #030305;
    --main-font-color: #f1f1f1;
    --bold: 600;
    --font_low-opacity: 0.7;
    --box-font-size: 14px;
    --box-bg-color: #13161a;
    --box-bg-color-hover: rgba(27, 31, 37, 0.95);
    --box-title-bg-color: #d0d0d0;
    --box-title-bg-color-border: #969696;
    --border-radius: 8px;

    --gap: 8px;
    --transition: .15s;
}