form.edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) - 3px);
}

div.edit-form_title {
    padding: 5px 15px!important; /* Rebajar el padding de .box */
    text-align: center;
    font-size: calc(var(--box-font-size) - 1px);
    opacity: var(--font_low-opacity);
}

form.edit-form div.edit-form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 12px!important;
}

form.edit-form div.edit-form_wrapper:focus-within {
    background: var(--box-bg-hover);
}

form.edit-form div.edit-form_wrapper label {
    margin: auto 0;
    font-size: var(--box-font-size);
}

form.edit-form div.wrapper {
    display: flex;
    gap: 5px;
}

form.edit-form div.wrapper div {
    width: 100%;
}

form.edit-form textarea {
    min-height: 10em;
}