footer {
    width: 100%;
    height: 50px;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;

    background-color: var(--box-bg);
}
 footer ul.footer-links {
     display: flex;
     gap: 20px;
     font-weight: var(--bold);
 }

 footer ul.footer-links li {
    transition: var(--transition);
 }

footer ul.footer-links:hover li {
    opacity: var(--font_low-opacity);
}

footer ul.footer-links li:hover {
    opacity: 1!important;
}

 footer p.footer_copyright {
     opacity: var(--font_low-opacity);
 }