header {
    min-width: 100%;
    min-height: 50px;
}

div.inner-header {
    max-width: 900px;
    margin: 0 auto;
    line-height: 50px;

    position: relative;
}

p#header-logo {
    font-family: 'Berkshire Swash';
    font-size: 24px;
    font-weight: bold;

    position: absolute;
    left: 0;
}

div.inner-header ul.header-links {
    display: flex;
    gap: 40px;


    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    /* Fixes safari transition issue. It bugs out when just the general transform is applied. */


    transition: var(--transition);
}

div.inner-header ul.header-links a li{
    transition: var(--transition);
    width: 100%;
}

div.inner-header ul.header-links:hover a li{
    opacity: var(--font_low-opacity);
}

div.inner-header ul.header-links a li:hover {
    opacity: 1;
}

div.inner-header div.header-user {
    position: absolute;
    right: 0;
}

div.inner-header div.header-user ul.header-user-ul {
    display: flex;
    gap: 10px;
}

