main {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0 20px;

    display: flex;
    gap: var(--gap);
}

/* Estilos generales usados en varias páginas */
.box {
    padding: 10px;
    background-color: var(--box-bg-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    overflow: hidden;
    font-size: var(--box-font-size);

    border: 1px solid var(--box-bg-color-hover);
    transition: .15s;
}

img {
    border-radius: var(--border-radius);
}

/* Debe ser usado junto a la clase 'box' */
#submit-button__colorful {
    width: 180px;
    align-self: center;
    font-weight: var(--bold);
    margin-top: 10px;
    background-image: linear-gradient(to right, #8e2de2, #3A73F3);
    background-size: 100%;

    transition: var(--transition);
}
#submit-button__colorful:hover {
    background-size: 150%;
}