/* Propósito: añadir un estilo general para todos los títulos de sección de, principalmente, la columna derecha de anime.php */
div.querypage_title {
    display: flex;
    justify-content: space-between;
}

div.querypage_title span.view-all {
    opacity: var(--font_low-opacity);
    transition: .2s;
    cursor: pointer;
}

div.querypage_title span.view-all:hover {
    opacity: 1;
}

/* Añadir un color de fondo a las secciones de personajes, staff y reviews. */
.querypage_bg {
    background-color: var(--box-bg);
}

/************* Estilos específicos *************/
/* Propósito: dividir el cuerpo en dos columnas de 23% y 77% de tamaño. */
div.querypage_left-column {
    width: 22%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

div.querypage_right-column {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/***** Columna izquierda. *****/
input.add-to-list {
    width: 100%!important; /* El width heredado por .submit-button__colorful es 180px. */
    margin-top: 0px; /* Elimina el margin-top de la clase .submit-button__colorful */
}

input.delete-from-list {
    width: 100%!important; /* El width heredado por .submit-button__colorful es 180px. */
    margin-top: 0px; /* Elimina el margin-top de la clase .submit-button__colorful */
}

.querypage_left-column_user-list form {
    display: grid;
    grid-gap: var(--gap);
}

section.querypage_edit {
    padding: 7px;
    transition: .2s;
    cursor: pointer;
}

section.querypage_edit p {
    opacity: var(--font_low-opacity);
    text-align: center;
    transition: .2s;
}

section.querypage_edit p span {
    font-size: var(--box-font-size);
}

section.querypage_edit:hover {
    background: var(--box-bg-hover);
}

section.querypage_edit:hover p {
    opacity: 1;
}

/***** Columna derecha. *****/
/* Propósito: aplicado de estilos a la sección de personajes. */
section.querypage_char {
    font-size: var(--box-font-size);
}

div.querypage_char-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.querypage_char-entry {
    display: flex;
    overflow: hidden;
}

div.querypage_char-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_char-entry_pic {
    min-width: 40px;
    max-width: 40px;
}

div.querypage_char-entry_pic img {
    border-radius: 0;
}

div.querypage_char-entry_info {
    background: var(--box-bg);
    width: 100%;
    padding: 5px;
    font-size: calc(var(--box-font-size) - 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.querypage_char-entry_info-role {
    opacity: var(--font_low-opacity);
}

/* Propósito: aplicado de estilos a la sección de staff. Son los mismos que la sección de personajes. Aun así creo dos clases distintas en caso de que modifique el diseño de una de ellas en el futuro. */
section.querypage_staff {
    font-size: var(--box-font-size);
}

div.querypage_staff-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.querypage_staff-entry {
    display: flex;
    overflow: hidden;
}

div.querypage_staff-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_staff-entry_pic {
    min-width: 40px;
    max-width: 40px;
}

div.querypage_staff-entry_pic img {
    border-radius: 0;
}

div.querypage_staff-entry_info {
    background: var(--box-bg);
    width: 100%;
    padding: 5px;
    font-size: calc(var(--box-font-size) - 2px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.querypage_staff-entry_info-role {
    opacity: var(--font_low-opacity);
}

/* Propósito: aplicado de estilos a la sección de reviews. */
section.querypage_review {
    font-size: var(--box-font-size);
}

div.querypage_review-entry_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.querypage_review-entry {
    display: flex;
    overflow: hidden;
}

div.querypage_review-entry:last-child {
    border-bottom-right-radius: var(--border-radius);
}

div.querypage_review-entry_pic {
    min-width: 60px;
    max-width: 60px;
}

div.querypage_review-entry_pic img {
    border-radius: 0px;
}

div.querypage_review-entry_info {
    background: var(--box-bg);
    width: 100%;
    padding: 10px;
    font-size: var(--box-font-size);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.querypage_review-entry_info-role span {
    font-size: calc(var(--box-font-size) - 2px);
}

div.querypage_review-entry_info-role span a{
    opacity: var(--font_low-opacity);
    transition: 0.2s;
}

div.querypage_review-entry_info-role a:hover {
    opacity: 1;
}

div.mediumhome {
    min-width: 100%;
}

section.mediumhome_all-medium {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.mediumhome_all-medium_content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;

    box-sizing: border-box;
}