/* Estilos para la sección de posts de la pestaña de overview */
section.posts-wrapper {
    width: 100%;
}

section.posts-wrapper div.box-body {
    padding: 0!important;
}

section.posts-wrapper div.post-entry {
    display: grid;
    grid-gap: var(--gap);
    padding: 10px!important;
    word-break: break-all;

    border-radius: 0;
    border-bottom: 1px solid var(--box-title);

    transition: var(--transition);

}

section.posts-wrapper a:last-child div.post-entry {
    border-bottom: 0;
}

section.posts-wrapper div.single-page:last-child {
    border-bottom: 0;
}

section.posts-wrapper a:hover div.post-entry {
    background: var(--box-bg-hover);
}

section.posts-wrapper div.post-entry div.top {
    display: flex;
    gap: var(--gap);
    height: 40px;
}

section.posts-wrapper div.post-entry div.top img {
    height: 100%;
    min-width: 40px;
}

div.post-info, div.post-info_user, div.post-info_relation {
    width: 100%;
}

section.posts-wrapper div.post-entry div.top div.post-info div.post-info_user div.username {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

section.posts-wrapper div.post-entry div.top div.post-info div.post-info_user div.username .dots {
    font-size: calc(var(--box-font-size) + 5px);
    opacity: var(--font_low-opacity);
    cursor: pointer;
    padding: 0 5px;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

section.posts-wrapper a div.post-entry div.top div.post-info div.post-info_user div.username .dots:hover {
    background-color: var(--box-bg);
    opacity: 1;
}

section.posts-wrapper div.post-entry div.top div.username span.post_time-ago {
    font-weight: 400;
    opacity: var(--font_low-opacity);
}

section.posts-wrapper div.post-entry div.bottom {
    display: grid;
    grid-gap: calc(var(--gap) + 2px);
}

section.posts-wrapper div.post-entry div.bottom div.social {
    display: flex;
    justify-content: space-around;
}

section.posts-wrapper div.post-entry div.social a {
    width: 100%;
}

section.posts-wrapper div.post-entry div.social div.social-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: var(--gap);
    cursor: pointer;
}

section.posts-wrapper div.post-entry div.social div.social-icon span {    
    font-size: 18px;
    font-weight: bold;
    opacity: var(--font_low-opacity);
    transition: var(--transition);
}

section.posts-wrapper div.post-entry div.social div.social-icon:hover span {
    opacity: 1!important;
}