div.profile-wrapper {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: var(--gap);
}

/* Estilos de las dos columnas que conforman el diseño de la página. */
div.profile_left-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

div.profile_right-column {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

/******** Estilos de cada sección. ********/
/* Estilos para la columna izquierda */
div.profile_left-column img {
    object-fit: cover;
    max-height: 223px;
}
section.profile_left-column-username {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px!important;
}

section.profile_left-column_buttons form {
    display: grid;
    grid-gap: var(--gap);
}

.list-submit {
    width: 100%!important; /* El width heredado por .submit-button__colorful es 180px. */
    margin-top: 0px; /* Elimina el margin-top de la clase .submit-button__colorful */
    font-family: Fredoka;
    font-weight: calc(var(--bold) - 100);
    font-size: 15px;
    padding: 7px 15px;
    transition: var(--transition);
}

.list-submit:hover {
    filter: brightness(1.2);
}

span.user-report {
    border-radius: var(--border-radius);
    margin: 0 auto;
    width: 45px;
    transition: var(--transition);
    cursor: pointer;
}

span.user-report:hover {
    background: var(--box-title);
}

/* Estilos para el menú de navegación de la columna derecha. */
div.profile_right-column img {
    object-fit: cover;
    max-height: 223px;
}

div.profile_right-column nav.profile_user-nav {
    font-size: calc(var(--box-font-size) + 1px);
    padding: 6px 15px;
    border: 1px solid var(--box-title);
}

div.profile_right-column nav.profile_user-nav ul {
    display: flex;
    justify-content: space-around;
}

div.profile_right-column nav.profile_user-nav ul.profile_user-nav_ul a li {
    opacity: var(--font_low-opacity);
    height: 100%;
    transition: var(--transition);
}

div.profile_right-column nav.profile_user-nav ul.profile_user-nav_ul a li.current {
    opacity: 1;
}

div.profile_right-column nav.profile_user-nav ul.profile_user-nav_ul:hover a li {
    opacity: var(--font_low-opacity);
}

div.profile_right-column nav.profile_user-nav ul.profile_user-nav_ul a li:hover {
    opacity: 1;
}

/* Estilos para la sección de overview. */
section.profile_user-overview {
    display: grid;
    grid-gap: var(--gap);
}

section.profile_user-overview_bio {
    border-radius: var(--border-radius);
}

section.profile_user-overview_bio div.box-body {
    max-height: 350px!important;
    overflow-y: auto;
    padding: 15px;   
}

section.profile_user-overview_bio div.socials {
    padding: 5px 15px!important;
    background-color: var(--box-bg-hover);
    border-top: 1px solid #3f3f50da;
}

section.profile_user-overview_bio div.socials ul {
    display: flex;
    gap: 15px;
    overflow: hidden;
}

section.profile_user-overview_bio div.socials ul li {
    display: flex;
    gap: 5px;
    align-items: center;
}

section.profile_user-overview_bio div.socials ul li span {
    display: flex;
    align-items: center;
}

section.profile_user-overview_bio div.socials ul li a {
    transition: var(--transition);
}

section.profile_user-overview_bio div.socials ul li a:hover {
    opacity: .7;
}

section.profile_user-overview_bio div.socials ul li span svg {
    height: 15px;
    fill: white;
    transition: var(--transition);
}

section.profile_user-overview_bio div.socials ul li span span {
    font-size: 20px;
    transform: rotate(-45deg);
    transition: var(--transition);
}

section.profile_user-overview_stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
}

div.profile_user-overview_stats-medium div.box-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.profile_user-overview_stats-medium div.box-body div {
    display: grid;
    grid-gap: var(--gap);
    text-align: center;
    font-size: calc(var(--box-font-size) + 1px);
}

div.profile_user-overview_stats-medium div.box-body div.low-opacity {
    font-size: var(--box-font-size);
}

/* Displays favorites on the overview tab. Currently not in use. */
section.profile_user-overview_favorites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
    display: none;
}

div.profile_user-overview_favorites_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: var(--box-bg);
    height: 98px;
}

div.profile_user-overview_favorites_wrapper div {
    height: 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 0!important;
    transition: calc(var(--transition) + .1s);
}

div.profile_user-overview_favorites_wrapper div:hover {
    filter: brightness(1.2);
}

/* Estilos para la sección de listas. */
section.profile_user-list {
    display: grid;
    grid-gap: var(--gap);
}

.list-grid {
    width: 100%!important;
    display: grid;
    grid-template-columns: 7% 57% 10% 16% 10%;
}

ul.profile_user-list_content-labels li{
    opacity: var(--font_low-opacity);
}

div.profile_user-list_entry-wrapper, div.profile_user-list_entry-wrapper div.box-body {
    display: grid;
    grid-gap: var(--gap);
}

.profile_user-list_entry img {
    height: 40px;
    border-radius: calc(var(--border-radius) - 4px);
}

.profile_user-list_entry div {
    display: flex;
    align-items: center;
    word-break: break-word;
}

.profile_user-list_entry-progress a {
    transition: var(--transition);
}

.profile_user-list_entry-progress a:hover {
    opacity: var(--font_low-opacity);
}

/* Estilos para la sección de reviews */


/* Estilos para la sección de favoritos */
section.profile_user-favorites {
    display: grid;
    grid-gap: var(--gap);
}

div.profile_user-favorites_wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

div.profile_user-favorites_wrapper div {
    height: 98px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    border-radius: 0px!important;
    transition: calc(var(--transition) + .1s);
}

div.profile_user-favorites_wrapper div:hover {
    filter: brightness(1.2);
}

/* Estilos para la sección donde el usuario escribe un post */
section#user_post-wrapper div.box-wrapper {
    width: 550px;
    border-radius: 10px;
    overflow: hidden;

    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0px 33px rgba(0,0,0,.50);
}

section#user_post-wrapper div.box-body {
    padding: 20px;
}

section#user_post-wrapper div.box-body form {
    display: grid;
    grid-gap: var(--gap);
    
}

section#user_post-wrapper div.box-body form div.user_post_fields-buttons {
    display: flex;
    justify-content: space-between;
}

section#user_post-wrapper div.box-wrapper textarea {
    min-height: 150px;
    padding: 10px;
    margin-bottom: 5px; /* Separa el textarea con el select */
    border-radius: var(--border-radius);
    background-color: var(--box-title)!important;
    width: 100%;
    transition: filter var(--transition);
}

section#user_post-wrapper div.box-wrapper textarea:focus-within {
    filter: brightness(1.15);
}

section#user_post-wrapper div.box-wrapper select {
    background-color: var(--box-title)!important;
    transition: var(--transition);
}

section#user_post-wrapper div.box-wrapper select:hover {
    background-color: var(--box-title-light)!important;
}

hr#user_post_fields-separator, hr#edit-profile_fields-separator {
    margin-top: 10px;
    height: 1px;
    border: 0px!important;
    background-color: var(--box-title);
}

/* Estilos para la sección de editar perfil */
section#user_edit-profile div.box-wrapper {
    width: 600px;
    border-radius: 10px;
    overflow: hidden;

    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0px 33px rgba(0,0,0,.50);
}

section#user_edit-profile div.box-wrapper div.box-body {
    padding: 20px;
}

section#user_edit-profile div.box-wrapper div.edit-profile_files {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gap);
}

section#user_edit-profile div.box-wrapper div.edit-profile_files div {
    display: grid;
    grid-gap: var(--gap)
}

section#user_edit-profile div.box-wrapper div.edit-profile_files input[type=file] {
    margin-bottom: 5px;
}

section#user_edit-profile div.box-wrapper input, section#user_edit-profile div.box-wrapper textarea {
    background-color: var(--box-title)!important;
    border-radius: var(--border-radius);
    padding: 10px;
    transition: var(--transition);
}

section#user_edit-profile div.box-wrapper input:focus-within, section#user_edit-profile div.box-wrapper textarea:focus-within {
    background-color: var(--box-title-light)!important;
}

section#user_edit-profile textarea {
    min-height: 150px;
    margin-bottom: 5px;
}

section#user_edit-profile div.box-wrapper form {
    display: grid;
    grid-gap: var(--gap);
}

section#user_edit-profile div.box-wrapper form div.two-column div {
    display: grid;
    grid-gap: var(--gap);
}

div.edit_profile-fields_buttons {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
}