div.rankings-page_wrapper {
    width: 100%;
    display: grid;
    grid-gap: var(--gap);
}

nav.rankings-page_menu ul {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px!important;
    text-align: center;
}

nav.rankings-page_menu ul li {
    padding: 6px 15px;
    font-size: calc(var(--box-font-size) + 0px);
    transition: var(--transition);
    background-color: var(--box-title);
}

nav.rankings-page_menu ul li.low-opacity {
    background-color: var(--box-bg);
}

nav.rankings-page_menu ul:hover li {
    opacity: var(--font_low-opacity)!important;
    background-color: var(--box-bg);
}

nav.rankings-page_menu ul li:hover {
    opacity: 1!important;
    background-color: var(--box-title);
}

section.rankings-page_list-labels ul {
    padding: 5px 15px!important;
    padding-left: 0px!important;
    display: grid;
    grid-template-columns: 7% 5% 50% 8% 8%;
}

section.rankings-page_anime_wrapper {
    padding-left: 0px!important;
}

section.rankings-page_anime_content {
    display: grid;
    grid-gap: var(--gap);
}

section.rankings-page_anime_content img {
    max-height: 40px;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry {
    display: grid;
    grid-template-columns: 7% 5% 50% 8% 8% 10% 5%;
    word-break: break-word;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div {
    display: flex;
    align-items: center;
    transition: var(--transition);
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div.low-opacity:hover {
    opacity: 1;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div a {
    width: 90%;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div.add button.ranking-button {
    width: 90%;
    background-color: var(--box-title);
    border-radius: var(--border-radius);
    padding: 6px 0;
    width: 100%;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div.fav a button {
    padding: 7px 15px 5px;
    background-color: var(--box-title);
    border-radius: var(--border-radius);
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div.fav a button span {
    font-size: 14px!important;
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div a button {
    transition: var(--transition);
}

section.rankings-page_anime_content div.rankings-page_anime_content-entry div a button:hover {
    background-color: var(--box-title-light)!important;
}