section.reviews_home-wrapper {
    display: grid;
    grid-gap: var(--gap);
    width: 100%;
}

div.reviews_home-header div.box-body{
    display: flex;
    justify-content: space-between;
}

div.reviews_home-content {
    width: 100%!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--gap);
}

div.reviews_home-content div.review {
    border-radius: var(--border-radius);
    overflow: hidden;
}

div.reviews_home-content div.review div.first-row {
    display: flex;
    transition: var(--transition);
}

div.reviews_home-content div.review div.first-row img.review_home_user-pfp {
    height: 60px;
    width: 60px;

    z-index: 2; /* Sobrepongo la imagen a div.review_home_user-body. */
}

div.reviews_home-content div.review div.first-row div.review_home_user-body {
    width: 100%;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-left: -8px; /* Creo un margin-left del valor negativo de var(--border-radius) para colocar este div justo debajo de la imagen de perfil. El motivo es por diseño. */
    z-index: 1;
}

div.reviews_home-content div.review div.first-row:hover div.review_home_user-body {
    filter: brightness(1.15);
}

div.reviews_home-content div.review div div.review_home_user-body i {
    opacity: 1!important;
}

div.reviews_home-content div.review div.second-row {
    font-size: 12px;
    margin-top: -8px; /* 8px viene de var(--border-radius) */
    padding: calc(5px + 8px) var(--border-radius) 5px; /* Ese +8px pretende contrarrestar los -8px de margin-top. El padding real son 5px. */
    text-align: center;
    background-color: var(--box-bg);
}


/* Estilos para la sección de nueva review (/review/new/...) */
section.review_new-wrapper, section.review_new-wrapper form {
    width: 100%;
    display: grid;
    grid-gap: var(--gap);
}

section.review_new-wrapper div.reviews_new-header div.box-body {
    display: flex;
    justify-content: space-between;
}

section.choose-entry {
    display: flex;
}

section.choose-entry label {
    font-size: var(--box-font-size);
    align-self: center;
    min-width: 11%; /* It makes 'Choose a title:' 2 lines if I don't do this. Not sure why */
}

section.review_new-fields {
    display: grid;
    grid-gap: var(--gap);
}

section.review_new-fields textarea {
    min-height: 450px;
}

section.review_new-fields input[type=submit] {
    margin: 10px auto;
}