* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: inherit;
    transition: 1s;
}

body {
    background-color: var(--body-bg);
    font-family: 'Fredoka', sans-serif;
    overflow-y: scroll;
    color: var(--main-font-color);
}

img {
    max-width: 100%;
    display: block; /* El display predeterminado (inline-block) de las imagenes provoca un problema de diseño si la imagen se encuentra dentro de un div. */
}

/* Divido la página en dos divs principales: uno con el header y cuerpo principal, y el otro con el footer. */
/* div.container agrupa a los dos y los aleja lo máximo posible mediante space-between. De esta manera, el footer siempre permanece en la parte inferior de la página. */
/* Este método es mejor que hacer uso de una posición absoluta por motivos de responsividad. */
div.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}