* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: inherit;
    transition: .1s;
}

body {
    background-color: var(--body-bg);
    font-family: 'Fredoka', sans-serif;
    overflow-y: scroll;
    color: var(--main-font-color);
}

img {
    max-width: 100%;
    display: block; /* El display predeterminado (inline-block) de las imagenes provoca un problema de diseño si la imagen se encuentra dentro de un div. */
}

h1 {
    font-size: 28px !important;
    font-weight: var(--bold);
}

h3 {
    font-size: 16px !important;
    font-weight: var(--bold);
}

input[type='text'], input[type='email'], input[type='password'], input[type='submit'], select {
    color: inherit;
    outline: none;
    border: none;
    background: transparent;
    box-sizing: border-box;
    font-size: var(--box-font-size);
}

select {
    appearance: none;
    transition: var(--transition);
}

select:hover {
    background-color: var(--box-bg-hover);
}

input[type='submit'] {
    font-family: Inter;
}

select, option, input[type='submit'] {
    cursor: pointer;
}

label {
    opacity: calc(var(--font_low-opacity) - .2);
}

textarea {
    resize: vertical;
    overflow-y: scroll;
    background: transparent;
    font-family: inherit;
    font-size: var(--box-font-size);
    border: none;
    outline: none;
    color: inherit;
}

/* Usado, principalmente, cuando no existe datos de algún tipo. (e.g. un anime no tiene personajes asignados en `character_anime`.) */
i {
    opacity: var(--font_low-opacity);
}

/* La explicación de los estilos de div.container está en /index.php. */
div.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.low-opacity {
    opacity: var(--font_low-opacity);
}
