form.submit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) - 3px);
}

div.submit-form_title {
    padding: 5px 15px!important; /* Rebajar el padding de .box */
    text-align: center;
    font-size: calc(var(--box-font-size) - 1px);
    opacity: var(--font_low-opacity);
}

nav.submit-form_selector ul {
    display: flex;
    justify-content: space-around;
    padding: 6px 10px!important; /* lower padding */
    font-size: inherit; /* .box class font-size seemed too low for this nav */
}


nav.submit-form_selector ul a li{
    transition: var(--transition);
    width: 100%;
    opacity: var(--font_low-opacity);
}

nav.submit-form_selector ul:hover a li{
    opacity: var(--font_low-opacity);
}

nav.submit-form_selector ul a li:hover {
    opacity: 1!important;
}

nav.submit-form_selector ul  li.current {
    opacity: 1;
}

nav.submit-form_selector ul :hover a li.current{
    opacity: var(--font_low-opacity)!important;
}

nav.submit-form_selector ul  li.current:hover {
    opacity: 1!important;
}


form.submit-form div.submit-form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 12px!important;
}

form.submit-form div.submit-form_wrapper:focus-within {
    background: var(--box-bg-hover);
}

form.submit-form div.submit-form_wrapper label {
    margin: auto 0;
    font-size: var(--box-font-size);
}

form.submit-form div.wrapper {
    display: flex;
    gap: 5px;
}

form.submit-form div.wrapper div {
    width: 100%;
}

form.submit-form textarea {
    min-height: 10em;
}