:root {
    --body-bg: white;
    --main-font-color: black;
    --font_low-opacity: 0.7;
    --box-font-size: 14px;
    --box-bg-color: #ebebeb;
    --box-bg-color-hover: #dedede;
    --box-title-bg-color: #d0d0d0;
    --box-title-bg-color-border: #969696;

    --gap: 10px;
}